<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
</head>

<body>
    {% csrf_token %}
    {% for data in datas %}
    <h1 style="font-size:5; font-weight:bold; background-color:aqua ;text-align:center">
        <img src="{{ data.image.url }}" style="height:200px;width:200px">
    <br>
    {{ data.name }}
        <br>
    {{ data.degree }}
    </h1>
    <div class="container">
        <h2 style="background-color:aqua"><br>  PROFILE :-
            ________________________________________________________________________________________________________
            <br><br>
            <span style="color:red">1)</span>{{ data.propoint_1 }} 
            <br>
            <span style="color:red">2)</span>{{ data.propoint_2 }} 
            <br>
            <span style="color:red">3)</span>{{ data.propoint_3 }} 
            <br>
            <span style="color:red">4)</span>{{ data.propoint_4 }} 
            <br>
        </h2>
        <h2 style="background-color:aqua"><br> LANGUAGES_KNOWN :-<br>
            _________________________________________________________________________________________________________
            <br>

                <br>
                1) {{ data.lang_1 }}<br>
                <br>
                2) {{ data.lang_2 }}<br>
                <br>
                3) {{ data.lang_3 }}<br>
                <br>
        </h2>
        <h2 style="background-color:aqua"><br> PERSONAL INFORMATION :- <br>
            ________________________________________________________________________________________________________
            <br>
            <br>
            Address :- {{ data.Address }}<br>
            <br>
            DOB :- {{ data.Date_of_birth }}
            <br>
            <br>
            Father Name :- {{ data.father_name }}
            <br>
        </h2>
        <h2 style="background-color:aqua"><br>CONTACT INFO :- <br>
            _________________________________________________________________________________________________________
            <br>
                Phone number :- {{ data.mobileno }}<br>
                <br>
                Email :- {{ data.email }}<br>
                <br>
        </h2>
        <h2 style="background-color:aqua"><br>EDUCTAIONAL QUALIFICATION :-
        _________________________________________________________________________________________________________
        <table style="border:1px solid black;background-color:aqua">
            <tr>
                <td><br>Qualification<br></td>
                <td><br>Board<br></td>
                <td><br>Percentage / Grades<br></td>
                <td><br>Year<br></td>
            </tr>
            <tr>
                <td><br>{{ data.course_1 }}<br></td>
                <td><br>{{ data.school_1 }}<br></td>
                <td><br>{{ data.percent_1 }}<br></td>
                <td><br>{{ data.year_1 }}<br></td>
            </tr>
            <tr>
                <td><br>{{ data.course_2 }}<br></td>
                <td><br>{{ data.school_2 }}<br></td>
                <td><br>{{ data.percent_2 }}<br></td>
                <td><br>{{ data.year_2 }}<br></td>
            </tr>
            <tr>
                <td><br>{{ data.course_3 }}<br></td>
                <td><br>{{ data.college }}<br></td>
                <td><br>{{ data.percent_3 }}<br></td>
                <td><br>{{ data.year_3 }}<br></td>
            </tr>
        </table>
        </h2>
        <h2 style="background-color: aqua;">
            <br>SKILLS :- <br>
            _________________________________________________________________________________________________________

            <br>
               1) {{ data.skill_1 }}<br>
               <br>
               2) {{ data.skill_2 }}<br>
               <br>
               3) {{ data.skill_3 }}<br>
               <br>
               4) {{ data.skill_4 }}<br>
               <br>
               5) {{ data.skill_5 }}<br>
               <br>
       </h2>
        <h2 style="background-color:aqua"><br>HOBBIES :- <br>
              _________________________________________________________________________________________________________
              <br>

                <br>
                1) {{ data.hobby_1 }}<br>
                <br>
                2) {{ data.hobby_2 }}<br>
                <br>
                3) {{ data.hobby_3 }}<br>
                <br>
        </h2>
        <h2 style="background-color:aqua"><br>INTERNSHIP :-<br>
            _________________________________________________________________________________________________________
            <br>

              <br>
              1) {{ data.intern_1 }}<br>
              <br>
              2) {{ data.intern_2 }}<br>
              <br>
        </h2>
        <h2 style="background-color:aqua"><br> DECLARTION :-<br>
            _________________________________________________________________________________________________________
            <br>

                <br>
                1) {{ data.declare }}<br>
                <br>
        </h2>
    </div>
    {% endfor %}
     
</body>

</html>